<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://notificationbroker.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/af14c8f1-8967-4635-9645-433fb3f7f39e/resourceGroups/development/providers/Microsoft.Web/sites/NotificationBroker</ResourceId>
    <UserName>$NotificationBroker</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://notificationbroker.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>